$titleFont: 'Abril Fatface', cursive;
$mainFont: 'Poppins', sans-serif;
$accentColor: #F4B31D;
$bg-picture-xs: url('../img/barcelona-hr-xs.jpg');
$bg-picture-s: url('../img/barcelona-hr-s.jpg');
$bg-picture-md: url('../img/barcelona-hr-md.jpg');
$bg-picture-l: url('../img/barcelona-hr-l.jpg');
$bg-picture-xl: url('../img/barcelona-hr-xl.jpg');