html {
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
  height: 20%;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  text-align: center;
  margin-top: .5rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin-top: .5rem;
}

.small-pictures-container {
  display: none;
}

.pictures-container-tablet {
  display: none;
}

.small-picture-info {
  display: none;
}

.pictures-container-mobile {
  margin: .5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
}

.julie-picture {
  width: 49%;
  height: 100%;
}

.small-pictures-container-mobile {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-picture {
  width: 100%;
  height: 48%;
}

.main-text-container {
  background-image: url("../img/barcelona-hr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.paragraphs-container {
  padding: 1rem;
}

.paragraph {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 2rem;
  line-height: 1.6rem;
  text-align: center;
}

.last-paragraph {
  margin-bottom: 0;
}

.regular-emphasis {
  font-weight: 500;
}

.price-emphasis {
  color: #F4B31D;
  font-weight: 600;
  font-size: 32px;
}

.julie-picture-container {
  display: none;
}

.conclusion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conclusion-text {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
}

.conclusion-text-accent {
  color: #F4B31D;
  margin-left: .8rem;
}

@media (max-width: 300px) {
  h2 {
    font-size: 18px;
  }
  .paragraph {
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 1.3rem;
  }
  .last-paragraph {
    margin-bottom: 0;
  }
  .price-emphasis {
    font-size: 30px;
  }
}

@media (min-width: 600px) {
  header {
    padding: 1rem;
    height: 20%;
  }
  h1 {
    font-size: 86px;
    margin-top: 0;
  }
  h2 {
    font-size: 28px;
  }
  .title-container {
    width: 100%;
  }
  .pictures-container-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: .8rem 0;
    height: 20%;
  }
  .small-pictures-container {
    display: none;
  }
  .small-picture {
    height: 100%;
    width: 30%;
    margin: 0 0.3rem 0.3rem;
    -webkit-box-shadow: 3px 3px 5px #888888;
            box-shadow: 3px 3px 5px #888888;
  }
  .pictures-container-mobile {
    display: none;
  }
  main {
    height: 80vh;
  }
  .main-text-container {
    position: relative;
    -webkit-box-shadow: 3px 3px 5px #888888;
            box-shadow: 3px 3px 5px #888888;
  }
  .paragraphs-container {
    padding: 2rem;
    width: 50%;
  }
  .paragraph {
    font-size: 26px;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .last-paragraph {
    margin-bottom: 0;
  }
  .price-emphasis {
    font-size: 40px;
  }
  .small-pictures-container-mobile {
    display: none;
  }
  .julie-picture-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 28%;
    right: 3%;
  }
  .julie-picture {
    width: 260px;
    height: 340px;
    border: 3px solid white;
    -webkit-box-shadow: 3px 3px 5px #888888;
            box-shadow: 3px 3px 5px #888888;
  }
  .conclusion-container {
    margin-top: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .conclusion-text {
    font-size: 36px;
  }
  .conclusion-text-spanish {
    margin-left: 1.5rem;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 24px;
  }
  .pictures-container-tablet {
    height: 50%;
  }
  .paragraph {
    font-size: 20px;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .last-paragraph {
    margin-bottom: 0;
  }
  .price-emphasis {
    font-size: 30px;
  }
  .julie-picture {
    width: 220px;
    height: 300px;
  }
}

@media (min-width: 900px) {
  header {
    padding: 1.5rem;
    height: 20%;
  }
  .title-container {
    width: 50%;
  }
  h1 {
    font-size: 76px;
  }
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  .small-pictures-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .small-picture-container {
    position: relative;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .small-picture-container:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .small-picture-container:hover .small-picture-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.25);
    margin: 0.3rem;
    width: 95%;
    top: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .small-picture-container:hover .small-picture-info p {
    color: white;
    padding: .5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .small-picture {
    height: 100px;
    width: 150px;
    margin: 0 0.3rem;
  }
  .pictures-container-tablet {
    display: none;
  }
  .paragraphs-container {
    padding: 4rem;
    width: 55%;
  }
  .paragraph {
    font-size: 30px;
    margin-bottom: 2rem;
    line-height: 2.6rem;
    text-align: left;
  }
  .last-paragraph {
    margin-bottom: 0;
  }
  .price-emphasis {
    font-size: 40px;
  }
  .julie-picture {
    width: 320px;
    height: 430px;
  }
}

@media (max-width: 1400px) and (min-height: 1100px) {
  .paragraphs-container {
    padding: 10rem 6rem;
    width: 50%;
  }
  .paragraph {
    font-size: 35px;
    margin-bottom: 2rem;
    line-height: 2.8rem;
    text-align: left;
  }
  .last-paragraph {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) and (max-height: 900px) {
  h1 {
    font-size: 60px;
    margin-left: 0;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    margin-left: 0;
    margin-top: .5rem;
    text-align: center;
  }
  main {
    height: auto;
  }
  .paragraphs-container {
    padding: 3rem;
    width: 50%;
  }
  .paragraph {
    font-size: 24px;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .last-paragraph {
    margin-bottom: 0;
  }
  .price-emphasis {
    font-size: 40px;
  }
  .julie-picture {
    width: 330px;
    height: 400px;
  }
  .conclusion-container {
    margin: 1rem 1rem 0 2rem;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 1400px) {
  h1 {
    text-align: left;
    margin-left: 6rem;
  }
  h2 {
    margin-left: 10rem;
    text-align: left;
  }
  .small-picture {
    height: 140px;
    width: 200px;
    margin: 0 0.3rem;
  }
  .paragraphs-container {
    padding: 3rem;
    width: 40%;
  }
  .julie-picture {
    width: 420px;
    height: 500px;
  }
}
/*# sourceMappingURL=style.css.map */