@import "./variables";

html {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    height: 20%;
}
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
h1 {
    font-family: $titleFont;
    font-size: 50px;
    text-align: center;
    margin-top: .5rem;
}
h2 {
    font-family: $mainFont;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: .5rem;
}
.small-pictures-container {
    display: none;
}
.pictures-container-tablet {
    display: none;
}

.pictures-container-mobile {
    margin: .5rem 0 0;
    display: flex;
}
.julie-picture {
    width: 50%;
    height: 100%;
}
.small-pictures-container-mobile {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.small-picture {
    width: 100%;
    height: 50%;
}
.main-text-container {
    background-image: url('../img/barcelona-bg.png');
}
.paragraphs-container {
    padding: 1rem;
}
.paragraph {
    color: white;
    font-family: $mainFont;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 2rem;
    line-height: 1.6rem;
    text-align: center;
}
.last-paragraph {
    margin-bottom: 0;
}
.regular-emphasis {
    font-weight: 500;
}
.price-emphasis {
    color: $accentColor;
    font-weight: 600;
    font-size: 32px;
}
.julie-picture-container {
    display: none;
}

.conclusion-container {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
}
.conclusion-text {
    font-family: $titleFont;
    font-size: 20px;
}
.conclusion-text-spanish {
    color: $accentColor;
    margin-left: .8rem;
}

@media (max-width: 300px) {
    h2 {
        font-size: 18px;
    }
    .paragraph {
        font-size: 16px;
        margin-bottom: 1rem;
        line-height: 1.3rem;
    }
    .price-emphasis {
        font-size: 30px;
    }
}

@media (min-width: 600px) {
    header {
        padding: 1rem;
        height: 20%;
    }
    h1 {
        font-size: 86px;
        margin-top: 0;
    }
    h2 {
        font-size: 28px;
    }
    .title-container {
        width: 100%;
    }
    .pictures-container-tablet {
        display: flex;
        flex-direction: row;  
        justify-content: space-around;
        margin: .8rem 0;
        height: 20%;
    }
    .small-pictures-container {
        display: none;
    }
    .small-picture {
        height: 100%;
        width: 30%;
        margin: 0 0.3rem 0.3rem;
    }
    .pictures-container-mobile {
        display: none;
    }

    main {
        height: 80vh;
    }
    .main-text-container {
        position: relative;
    }
    .paragraphs-container {
        padding: 2rem;
        width: 50%;
    }
    .paragraph {
        font-size: 26px;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    .price-emphasis {
        font-size: 40px;
    }

    .small-pictures-container-mobile {
        display: none;
    }
    .julie-picture-container {
        display: flex;
        position: absolute;
        top: 23%;
        right: 3%;
    }
    .julie-picture {
        width: 260px;
        height: 340px;
        border: 4px solid white;
    }

    .conclusion-container {
        margin-top: 1.5rem;
        justify-content: center;
    }
    .conclusion-text {
        font-size: 36px;
    }
    .conclusion-text-spanish {
        margin-left: 1.5rem;
    }
}



@media (min-width: 600px) and (orientation: landscape) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 24px;
    }
    .pictures-container-tablet {
        height: 50%;
    }
    .paragraph {
        font-size: 20px;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    .price-emphasis {
        font-size: 30px;
    }
    .julie-picture {
        width: 220px;
        height: 300px;
        border: 4px solid white;
    }
}



@media (min-width: 900px) {

    header {
        padding: 1.5rem;
        height: 20%;
    }
    .title-container {
        width: 50%;
    }
    h1 {
        font-size: 76px;
        text-align: left;
        margin-left: 6rem;
    }
    h2 {
        font-size: 24px;
        margin-left: 10rem;
        text-align: left;
        margin-top: 0;
    }
    .small-pictures-container {
        display: flex;
        flex-direction: row;
    }
    .small-picture {
        height: 140px;
        width: 200px;
        margin: 0 0.3rem;
    }
    .pictures-container-tablet {
        display: none;
    }

    .paragraphs-container {
        padding: 5rem;
        width: 40%;
    }
    .paragraph {
        font-size: 30px;
        margin-bottom: 2rem;
        line-height: 2.6rem;
    }
    .price-emphasis {
        font-size: 40px;
    }

    .julie-picture {
        width: 460px;
        height: 540px;
    }

}

